<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>ShowGirlTime</title>
<!-- <%- include("../../public/asset/jquery/jquery-3.3.1.min.js") %> -->
<link href='../../public/asset/bootstrap/css/bootstrap.min.css' rel="stylesheet">
<style>
    .menu{
        /* background-image: linear-gradient(90deg,#fff 49.9%,#000 50%); */
        background: url('https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2972590411,563837523&fm=27&gp=0.jpg') no-repeat;
        background-size: cover;
        background-position: -126px -46px;
    }
    .menu h1{
        font-size: 40px;
        line-height: 32px;
        font-weight: bold;
        font-family: monospace;
        mix-blend-mode: lighten;
        background-color: #fff;
    }
    .minImg{
        max-width: 60px !important;
    }
    .class-menu{
    }
    a{
        color: skyblue;
        cursor: pointer;
    }
    a:hover{
        color: cornflowerblue;
    }
    .class-menu a{
        display: inline-block;
        padding: 4px 10px;
    }
</style>