<ul class="list-group">
    <a class="list-group-item" href="/">数据列表</a>
    <a class="list-group-item" href="/user">用户管理</a>
    <a class="list-group-item" href="/classify">分类操作</a>
    <a class="list-group-item" href="/imgcard">图片组操作</a>
</ul>