<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./ejs/header.ejs") %>
</head>
<body>
    <div class="container">
        <div class="menu">
            <h1>SHOW GIRL TIME</h1>
        </div>
        <div class="row">
            <div class="col-md-2">
                <%- include("./ejs/menu.ejs") %>
            </div>
            <div class="col-md-10">
                <!-- list -->
                <% if (type === 'edit'){ %>
                    <a href="/classify">返回</a>
                    <div>
                        <div class="form-group">
                            <label>分类</label>
                            <input class="form-control" id="classify" name="title" 
                                        required placeholder="分类名称"/>
                        </div>
                        <button class="btn btn-default" id="createClassify">Submit</button>
                    </div>                     
                <% } else { %>
                    <a href="/classify/edit">新建</a>
                    <table class="table table-hover table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Sum</th>
                                <th scope="col">Size</th>
                                <th scope="col">Setting</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% dataList.forEach(function(item, index){ %>
                            <tr>
                                <th scope="row"><%= index+1 %></th>
                                <td><%= item.name %></td>
                                <td><%= item.sum %></td>
                                <td><%= item.size %>MB</td>
                                <td>
                                    <a class="deleteOne" cid="<%= item.cid %>">删除</a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% }; %>
                
            </div>
        </div>
    </div>
    <%- include("./ejs/footer.ejs") %>
    <script>
        var $_classifyFun = {
            init: function(){
                this.create();
                this.delete();
            },
            create: function(){
                // 提交新建分类表单
                var $_on_submit = $('#createClassify');
                $_on_submit.on('click',function(){
                    let actionUrl = '/classify/create';
                    let $_val = $('#classify').val();
                    $.ajax({
                        url: actionUrl,
                        type: "POST",
                        data: {
                            classname: $_val
                        },
                        dataType: 'json'
                    })
                    .done((results)=>{
                        if(results.isSuccess){
                            // 这里写请求成功后的代码
                            // console.log('success',results)
                            alert(results.msg);
                        } else {
                            // 这里写请求失败后的代码
                            // console.log('error',results)
                            alert(results.msg);
                        }
                    })
                });
            },
            delete: function(){
                // 提交新建分类表单
                var $_on_delete = $('.deleteOne');
                $_on_delete.on('click',function(){
                    let actionUrl = '/classify/delete';
                    let $_cid = $(this).attr('cid');
                    let bool = confirm("是否删除 id:"+ $_cid +" 的分类")
                    if(bool){
                        $.ajax({
                            url: actionUrl,
                            type: "POST",
                            data: {
                                cid: $_cid
                            },
                            dataType: 'json'
                        })
                        .done((results)=>{
                            if(results.isSuccess){
                                // 这里写请求成功后的代码
                                // console.log('success',results)
                                alert(results.msg);
                            } else {
                                // 这里写请求失败后的代码
                                // console.log('error',results)
                                alert(results.msg);
                            }
                        })
                    }
                });
            }
        }
        $_classifyFun.init();

    </script>
</body>
</html>